# Pregunta 2
Calcular el sueldo promedio y el numero de empleados por cada departamento

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder.appName('Pregunta1').getOrCreate()
df_employees = spark.read.csv('./datasets/employees.csv', header=True, inferSchema=True)
df_employees.show(5)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
|  1|      Cory Escobar| 48|Female|        HR|  5641|  2015-05-03|              2.0|        16|  Active|   New York|  Night|
|  2|   Timothy Sanchez| 25| Other|     Sales|  4249|  2020-11-09|              2.0|        11|Inactive|Los Angeles|Evening|
|  3|      Chad Nichols| 57| Other|     Sales|  3058|  2019-02-12|             NULL|         1|Inactive|   New York|Morning|
|  4|Christine Williams| 58|Female|        IT|  5895|  2017-09-08|              2.0|        13|Inactive|Los Angeles|Evening|
|  5|      Amber Harris| 35| Other|        IT|  4317|  2020-02-15|              5.0|        16|Inactive|   New York|Evening|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
only showing top 5 rows

In [19]:
#Calcular el sueldo promedio y el numero de empleados por cada departamento
df_avg = df_employees.groupBy('Department')\
    .agg(F.avg('Salary').alias('Sueldo promedio por departamento'),
         F.count('*').alias('Numero de empleados'))

df_avg.show()

+----------+--------------------------------+-------------------+
|Department|Sueldo promedio por departamento|Numero de empleados|
+----------+--------------------------------+-------------------+
|     Sales|                5804.08875739645|                338|
|        HR|              5982.3962848297215|                323|
|        IT|               5968.371681415929|                339|
+----------+--------------------------------+-------------------+