# Pregunta 3
Eliminar filas duplicadas basadas en columnas específicas

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [23]:
spark = SparkSession.builder\
    .appName("Pregunta3")\
    .getOrCreate()
# df_employees_duplicates
df_ed = spark.read.csv('./datasets/employees_duplicates.csv', header=True, inferSchema=True)

In [24]:
columnas = ["Name","Age","Gender","Department","Salary","Joining","Date",
       "Performance","Score","Location","Session"]

In [25]:
# Simple
df_clean = df_ed.dropDuplicates(columnas)
df_clean2 = df_ed.dropDuplicates(['Name','Department','Joining'])
df_clean.show(10)

+--------------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
|                Name|Age|Gender|Department|Salary|   Joining|Date|Performance|   Score|   Location|Session|
+--------------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
|           Eric York| 34|  Male|        HR|  3397|2022-06-25| 4.0|          2|  Active|Los Angeles|Evening|
|       Mario Jackson| 43|  Male|        IT|  8563|2017-12-28| 4.0|         11|  Active|Los Angeles|  Night|
|Mrs. Kimberly Woo...| 48|Female|     Sales|  7287|2019-03-06| 1.0|          9|  Active|Los Angeles|  Night|
|       Briana Martin| 59|  Male|     Sales|  4496|2023-05-22| 1.0|         20|Inactive|   New York|  Night|
|    Valerie Guerrero| 23|  Male|        HR|  6253|2023-09-21| 4.0|         14|  Active|Los Angeles|  Night|
|    Monica Henderson| 39|  Male|        IT|  7250|2016-07-11| 4.0|          1|  Active|    Chicago|Morning|
|        James Melton| 46| Other|     Sales|  6746|2019-07-31| 5.0|         16|Inactive|Los Angeles|  Night|
|       Gabriel Weber| 32|  Male|        HR|  2759|2016-05-10| 5.0|          7|Inactive|Los Angeles|Evening|
|        Emily Martin| 58|  Male|     Sales|  4038|2020-09-06| 3.0|         13|  Active|Los Angeles|Evening|
|         Tammy Smith| 30|Female|     Sales|  2087|2015-01-09| 5.0|          6|Inactive|Los Angeles|Morning|
+--------------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
only showing top 10 rows

In [29]:
# Windows Functions
from pyspark.sql.window import Window 
window_spec = Window.partitionBy(['Name', 'Department']).orderBy(F.col("Joining").desc()) 
df_clean_wf = df_ed.withColumn("row_num", F.row_number().over(window_spec)) \
              .filter(F.col("row_num") == 1) \
              .drop("row_num") 

df_clean_wf.show(10)

+-----------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
|             Name|Age|Gender|Department|Salary|   Joining|Date|Performance|   Score|   Location|Session|
+-----------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
|Abigail Rodriguez| 33|Female|     Sales|  3636|2017-04-22| 4.0|          7|  Active|    Chicago|Morning|
|        Adam Lane| 20| Other|        HR|  7485|2015-09-16| 1.0|          2|  Active|    Chicago|Morning|
|      Adam Thomas| 32|Female|        HR|  9370|2021-05-08| 4.0|         20|Inactive|   New York|  Night|
|   Albert Stevens| 29| Other|        HR|  2776|2021-02-24| 2.0|          1|  Active|    Chicago|  Night|
|Alejandro Bennett| 31|Female|        HR|  7039|2021-01-26|NULL|         18|  Active|    Chicago|Evening|
|      Alex Gordon| 35|  Male|     Sales|  5070|2022-08-10|NULL|          7|Inactive|    Chicago|  Night|
|       Alex Jones| 47|  Male|     Sales|  7270|2022-12-11| 1.0|          3|Inactive|    Chicago|  Night|
|      Alex Stuart| 63| Other|        HR|  7490|2023-03-11|NULL|         16|  Active|   New York|  Night|
|    Alex Thompson| 54|Female|        HR|  6145|2019-02-03| 3.0|          7|Inactive|   New York|Evening|
|      Alex Walker| 23|  Male|        IT|  6916|2016-10-11|NULL|         10|Inactive|Los Angeles|Morning|
+-----------------+---+------+----------+------+----------+----+-----------+--------+-----------+-------+
only showing top 10 rows

In [28]:
print("Cantidad de filas originales:", df_ed.count())
print("Cantidad de filas después de eliminar duplicados (método simple):", df_clean.count())
print("Cantidad de filas después de eliminar duplicados (método con funciones de ventana):", df_clean_wf.count())

Cantidad de filas originales: 1274
Cantidad de filas después de eliminar duplicados (método simple): 1000
Cantidad de filas después de eliminar duplicados (método con funciones de ventana): 1000