# Pregunta 5
Eliminar filas con valores nulos en la columna de edad

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("Pregunta5").getOrCreate()

df = spark.read.csv('./datasets/employees.csv', header=True, inferSchema=True)

# Crear una df con Age null
df_new = df.withColumn('Age_new', 
    F.when(F.col('ID') <= 500, F.col('Age'))
     .otherwise(F.lit(None))
)
df_new = df_new.drop('Age')
df_new = df_new.withColumnRenamed('Age_new', 'Age')

In [17]:
df_new_filter = df_new.dropna(subset=['Age'])
df_new_filter.show(10)

+---+------------------+------+----------+------+------------+-----------------+----------+--------+-----------+-------+---+
| ID|              Name|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|Age|
+---+------------------+------+----------+------+------------+-----------------+----------+--------+-----------+-------+---+
|  1|      Cory Escobar|Female|        HR|  5641|  2015-05-03|              2.0|        16|  Active|   New York|  Night| 48|
|  2|   Timothy Sanchez| Other|     Sales|  4249|  2020-11-09|              2.0|        11|Inactive|Los Angeles|Evening| 25|
|  3|      Chad Nichols| Other|     Sales|  3058|  2019-02-12|             NULL|         1|Inactive|   New York|Morning| 57|
|  4|Christine Williams|Female|        IT|  5895|  2017-09-08|              2.0|        13|Inactive|Los Angeles|Evening| 58|
|  5|      Amber Harris| Other|        IT|  4317|  2020-02-15|              5.0|        16|Inactive|   New York|Evening| 35|
|  6|       Ashley Howe|Female|        HR|  2591|  2016-06-24|              1.0|         6|  Active|    Chicago|Evening| 29|
|  7|       David Olson|Female|     Sales|  6826|  2023-05-11|             NULL|         4|  Active|   New York|  Night| 39|
|  8|      Amanda Baker| Other|        HR|  6285|  2015-04-01|             NULL|         8|Inactive|    Chicago|Evening| 52|
|  9|     Jeremy Wright|Female|     Sales|  9862|  2024-02-07|             NULL|         3|Inactive|   New York|  Night| 63|
| 10|    Brian Faulkner|  Male|        IT|  8202|  2018-05-26|              1.0|         9|  Active|Los Angeles|Morning| 30|
+---+------------------+------+----------+------+------------+-----------------+----------+--------+-----------+-------+---+
only showing top 10 rows

In [18]:
print("Número de filas originales:", df_new.count())
print("Número de filas con Age no null:", df_new_filter.count())

Número de filas originales: 1000
Número de filas con Age no null: 500