# Pregunta 11
Necesita renombrar una o m√°s columnas en un DataFrame de PySpark

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F 

spark = SparkSession.builder.appName("Pregunta 11").getOrCreate()
df = spark.read.csv("./datasets/World-Stock-Prices-Dataset.csv", header=True, inferSchema=True)

In [4]:
df.show(5)
df.columns

+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
|               Date|              Open|              High|              Low|             Close|     Volume|Brand_Name|Ticker|Industry_Tag|Country|Dividends|Stock Splits|Capital Gains|
+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
|2025-07-03 04:00:00| 6.630000114440918| 6.739999771118164|6.614999771118164| 6.639999866485596|  4209664.0|   peloton|  PTON|     fitness|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00|            106.75|108.37000274658205|106.3301010131836|107.33999633789062|   560190.0|     crocs|  CROX|    footwear|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00|122.62999725341795| 123.0500030517578|121.5500030517578|121.93000030517578|    36600.0|    adidas| ADDYY|     apparel|germany|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00| 221.7050018310547|224.00999450683597|221.3600006103516|223.41000366210935|2.9295154E7|    amazon|  AMZN|  e-commerce|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00| 212.1450042724609| 214.6499938964844|211.8101043701172| 213.5500030517578|3.4697317E7|     apple|  AAPL|  technology|    usa|      0.0|         0.0|         NULL|
+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
only showing top 5 rows

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Brand_Name',
 'Ticker',
 'Industry_Tag',
 'Country',
 'Dividends',
 'Stock Splits',
 'Capital Gains']

In [ ]:
df = df.withColumnRenamed("Open","Precio Inicial")
df = df.withColumnRenamed("High","Precio Maximo")\
        .withColumnRenamed("Low","Precio Minimo")
df.show(5)

+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
|               Date|    Precio Inicial|     Precio Maximo|    Precio Minimo|             Close|     Volume|Brand_Name|Ticker|Industry_Tag|Country|Dividends|Stock Splits|Capital Gains|
+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
|2025-07-03 04:00:00| 6.630000114440918| 6.739999771118164|6.614999771118164| 6.639999866485596|  4209664.0|   peloton|  PTON|     fitness|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00|            106.75|108.37000274658205|106.3301010131836|107.33999633789062|   560190.0|     crocs|  CROX|    footwear|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00|122.62999725341795| 123.0500030517578|121.5500030517578|121.93000030517578|    36600.0|    adidas| ADDYY|     apparel|germany|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00| 221.7050018310547|224.00999450683597|221.3600006103516|223.41000366210935|2.9295154E7|    amazon|  AMZN|  e-commerce|    usa|      0.0|         0.0|         NULL|
|2025-07-03 04:00:00| 212.1450042724609| 214.6499938964844|211.8101043701172| 213.5500030517578|3.4697317E7|     apple|  AAPL|  technology|    usa|      0.0|         0.0|         NULL|
+-------------------+------------------+------------------+-----------------+------------------+-----------+----------+------+------------+-------+---------+------------+-------------+
only showing top 5 rows