# Pregunta 14
Escribe un DataFrame de PySpark en un archivo CSV.

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F 

spark = SparkSession.builder.appName("Pregunta 14").getOrCreate()

In [8]:
# Crear desde una lista de tuplas
data = [
    ("Apple", "USA", 150.25),
    ("Microsoft", "USA", 320.50),
    ("Tesla", "USA", 245.75),
    ("Samsung", "South Korea", 1200.00)
]
columns = ["Brand_Name", "Country", "Price"]
df1 = spark.createDataFrame(data, columns)

# Crear desde un diccionario
data_dict = [
    {"Brand_Name": "Apple", "Country": "USA", "Price": 150.25},
    {"Brand_Name": "Microsoft", "Country": "USA", "Price": 320.50},
    {"Brand_Name": "Tesla", "Country": "USA", "Price": 245.75}
]
df2 = spark.createDataFrame(data_dict)

df1.show()
df2.show()

+----------+-----------+------+
|Brand_Name|    Country| Price|
+----------+-----------+------+
|     Apple|        USA|150.25|
| Microsoft|        USA| 320.5|
|     Tesla|        USA|245.75|
|   Samsung|South Korea|1200.0|
+----------+-----------+------+

+----------+-------+------+
|Brand_Name|Country| Price|
+----------+-------+------+
|     Apple|    USA|150.25|
| Microsoft|    USA| 320.5|
|     Tesla|    USA|245.75|
+----------+-------+------+

In [10]:
# Particionado
#df1.write.mode("overwrite").option("header", True).csv("./datasets/df1_create.csv")
# Solo un archivo (para la facilidad del ejercicio)
df1.coalesce(1).write.mode("overwrite").option("header", True).csv("./datasets/df1_create.csv")