# Pregunta 15
Use la función rank() para clasificar a los empleados según el salario dentro del departamento.

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F 
from pyspark.sql import Window

spark = SparkSession.builder.appName("Pregunta 13").getOrCreate()

df = spark.read.csv("./datasets/employees.csv", header=True, inferSchema=True)

In [14]:
df.show(10)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
|  1|      Cory Escobar| 48|Female|        HR|  5641|  2015-05-03|              2.0|        16|  Active|   New York|  Night|
|  2|   Timothy Sanchez| 25| Other|     Sales|  4249|  2020-11-09|              2.0|        11|Inactive|Los Angeles|Evening|
|  3|      Chad Nichols| 57| Other|     Sales|  3058|  2019-02-12|             NULL|         1|Inactive|   New York|Morning|
|  4|Christine Williams| 58|Female|        IT|  5895|  2017-09-08|              2.0|        13|Inactive|Los Angeles|Evening|
|  5|      Amber Harris| 35| Other|        IT|  4317|  2020-02-15|              5.0|        16|Inactive|   New York|Evening|
|  6|       Ashley Howe| 29|Female|        HR|  2591|  2016-06-24|              1.0|         6|  Active|    Chicago|Evening|
|  7|       David Olson| 39|Female|     Sales|  6826|  2023-05-11|             NULL|         4|  Active|   New York|  Night|
|  8|      Amanda Baker| 52| Other|        HR|  6285|  2015-04-01|             NULL|         8|Inactive|    Chicago|Evening|
|  9|     Jeremy Wright| 63|Female|     Sales|  9862|  2024-02-07|             NULL|         3|Inactive|   New York|  Night|
| 10|    Brian Faulkner| 30|  Male|        IT|  8202|  2018-05-26|              1.0|         9|  Active|Los Angeles|Morning|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
only showing top 10 rows

In [21]:
# El rank a los empates les asigna el mismo numero y los siguientes saltan ese numero que no se asigno ejemplo rank 15 y 15 el siguiente es 17
window_spec =  Window.partitionBy(F.col("Department")).orderBy(F.col("Salary").desc())
df = df.withColumn("Rank", F.rank().over(window_spec))
df.show(20)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+----+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|Rank|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+----+
|812|      Jesse Miller| 52|  Male|        HR|  9993|  2020-11-27|             NULL|        12|  Active|    Chicago|Evening|   1|
|990|     Shannon Meyer| 18| Other|        HR|  9985|  2022-11-05|              4.0|        18|  Active|    Chicago|  Night|   2|
|128|   Ashley Williams| 65|Female|        HR|  9973|  2020-05-03|             NULL|        19|Inactive|   New York|Morning|   3|
|909|     Sara Martinez| 34| Other|        HR|  9951|  2024-02-18|             NULL|         6|Inactive|   New York|  Night|   4|
|121|     David Hampton| 39|Female|        HR|  9941|  2024-07-06|              3.0|        15|Inactive|   New York|Morning|   5|
|201| Mr. James Johnson| 48|Female|        HR|  9930|  2019-08-04|              5.0|        19|  Active|    Chicago|Morning|   6|
|461|        Jose Allen| 27|Female|        HR|  9861|  2015-04-05|              3.0|        10|  Active|    Chicago|Morning|   7|
|544|   Erin Cunningham| 63| Other|        HR|  9838|  2015-06-10|              5.0|        20|  Active|Los Angeles|Morning|   8|
|762|Madeline Contreras| 19| Other|        HR|  9825|  2018-11-16|              4.0|         5|Inactive|Los Angeles|Morning|   9|
|581|  Jennifer Stewart| 32|Female|        HR|  9772|  2021-05-05|              1.0|         8|Inactive|Los Angeles|  Night|  10|
|920|      Cheryl Singh| 56| Other|        HR|  9761|  2020-05-14|             NULL|         6|Inactive|Los Angeles|Evening|  11|
|159|     Erin Harrison| 34|  Male|        HR|  9719|  2019-07-31|              2.0|         2|Inactive|    Chicago|Evening|  12|
|563|     Beverly Logan| 51|Female|        HR|  9646|  2021-08-08|             NULL|        18|Inactive|    Chicago|Evening|  13|
|923|    Joseph Murillo| 39|  Male|        HR|  9553|  2018-05-30|             NULL|        15|  Active|Los Angeles|Morning|  14|
|242|   Jennifer Wilson| 54|  Male|        HR|  9516|  2021-10-19|              1.0|         8|Inactive|    Chicago|  Night|  15|
|433|      Bryan Medina| 41| Other|        HR|  9516|  2021-04-07|              3.0|        13|Inactive|   New York|Evening|  15|
|945|    Mary Armstrong| 29|Female|        HR|  9402|  2017-12-13|             NULL|         1|  Active|   New York|  Night|  17|
|588|      Krystal Rice| 42| Other|        HR|  9390|  2021-08-05|              5.0|        13|Inactive|   New York|Morning|  18|
|338|  Michelle Brennan| 60| Other|        HR|  9385|  2024-09-29|              2.0|        15|Inactive|    Chicago|  Night|  19|
|567|       Adam Thomas| 32|Female|        HR|  9370|  2021-05-08|              4.0|        20|Inactive|   New York|  Night|  20|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+----+
only showing top 20 rows