# Pregunta 16
Realizar una operación aritmética simple en columnas de un DataFrame.

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F 
from pyspark.sql import Window

spark = SparkSession.builder.appName("Pregunta 13").getOrCreate()

df = spark.read.csv("./datasets/employees.csv", header=True, inferSchema=True)

In [36]:
df.show(10)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
|  1|      Cory Escobar| 48|Female|        HR|  5641|  2015-05-03|              2.0|        16|  Active|   New York|  Night|
|  2|   Timothy Sanchez| 25| Other|     Sales|  4249|  2020-11-09|              2.0|        11|Inactive|Los Angeles|Evening|
|  3|      Chad Nichols| 57| Other|     Sales|  3058|  2019-02-12|             NULL|         1|Inactive|   New York|Morning|
|  4|Christine Williams| 58|Female|        IT|  5895|  2017-09-08|              2.0|        13|Inactive|Los Angeles|Evening|
|  5|      Amber Harris| 35| Other|        IT|  4317|  2020-02-15|              5.0|        16|Inactive|   New York|Evening|
|  6|       Ashley Howe| 29|Female|        HR|  2591|  2016-06-24|              1.0|         6|  Active|    Chicago|Evening|
|  7|       David Olson| 39|Female|     Sales|  6826|  2023-05-11|             NULL|         4|  Active|   New York|  Night|
|  8|      Amanda Baker| 52| Other|        HR|  6285|  2015-04-01|             NULL|         8|Inactive|    Chicago|Evening|
|  9|     Jeremy Wright| 63|Female|     Sales|  9862|  2024-02-07|             NULL|         3|Inactive|   New York|  Night|
| 10|    Brian Faulkner| 30|  Male|        IT|  8202|  2018-05-26|              1.0|         9|  Active|Los Angeles|Morning|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+
only showing top 10 rows

In [41]:
# primero obtenemos la columna de el tiempo total trabajado en años desde la fecha de contratacion hasta hoy (luego lo multiplicamos por 12 para saber los meses)
df = df.withColumn("Months_Worked", F.months_between(F.current_date(), F.col("Joining Date")).cast("int"))
df.show(10)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|Months_Worked|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+
|  1|      Cory Escobar| 48|Female|        HR|  5641|  2015-05-03|              2.0|        16|  Active|   New York|  Night|          125|
|  2|   Timothy Sanchez| 25| Other|     Sales|  4249|  2020-11-09|              2.0|        11|Inactive|Los Angeles|Evening|           59|
|  3|      Chad Nichols| 57| Other|     Sales|  3058|  2019-02-12|             NULL|         1|Inactive|   New York|Morning|           80|
|  4|Christine Williams| 58|Female|        IT|  5895|  2017-09-08|              2.0|        13|Inactive|Los Angeles|Evening|           97|
|  5|      Amber Harris| 35| Other|        IT|  4317|  2020-02-15|              5.0|        16|Inactive|   New York|Evening|           68|
|  6|       Ashley Howe| 29|Female|        HR|  2591|  2016-06-24|              1.0|         6|  Active|    Chicago|Evening|          112|
|  7|       David Olson| 39|Female|     Sales|  6826|  2023-05-11|             NULL|         4|  Active|   New York|  Night|           29|
|  8|      Amanda Baker| 52| Other|        HR|  6285|  2015-04-01|             NULL|         8|Inactive|    Chicago|Evening|          127|
|  9|     Jeremy Wright| 63|Female|     Sales|  9862|  2024-02-07|             NULL|         3|Inactive|   New York|  Night|           20|
| 10|    Brian Faulkner| 30|  Male|        IT|  8202|  2018-05-26|              1.0|         9|  Active|Los Angeles|Morning|           89|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+
only showing top 10 rows

In [46]:
# Obtenemos lo que le pago la empresa todo este tiempo
df = df.withColumn("Sueldo_total_recibido", F.col("Months_Worked") * F.col("Salary")).orderBy(F.col("Sueldo_total_recibido").desc())
df.show(20)

+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+---------------------+
| ID|              Name|Age|Gender|Department|Salary|Joining Date|Performance Score|Experience|  Status|   Location|Session|Months_Worked|Sueldo_total_recibido|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+---------------------+
|461|        Jose Allen| 27|Female|        HR|  9861|  2015-04-05|              3.0|        10|  Active|    Chicago|Morning|          126|              1242486|
|685|   Kristen Jackson| 50|Female|        IT|  9782|  2015-04-20|             NULL|         9|Inactive|    Chicago|  Night|          126|              1232532|
|380|         Dustin Le| 29|  Male|     Sales|  9726|  2015-04-13|              1.0|         2|Inactive|    Chicago|Evening|          126|              1225476|
|544|   Erin Cunningham| 63| Other|        HR|  9838|  2015-06-10|              5.0|        20|  Active|Los Angeles|Morning|          124|              1219912|
|987|   Melissa Bradley| 39|Female|        IT|  9618|  2015-07-05|              1.0|        13|  Active|   New York|Morning|          123|              1183014|
|515| Taylor Williamson| 48|  Male|        HR|  9293|  2015-03-10|             NULL|        17|Inactive|    Chicago|  Night|          127|              1180211|
|532|Jeffrey Williamson| 54| Other|        IT|  9988|  2015-12-08|             NULL|        16|Inactive|    Chicago|Evening|          118|              1178584|
|113|    Luke Mcpherson| 34| Other|        IT|  9812|  2016-01-29|              3.0|        13|  Active|   New York|Evening|          117|              1148004|
|458|        Emma Pratt| 19| Other|        IT|  9946|  2016-04-08|             NULL|        17|Inactive|Los Angeles|Evening|          114|              1133844|
| 23|      Bryce Carter| 35|Female|     Sales|  9598|  2015-12-16|              4.0|         4|Inactive|   New York|  Night|          118|              1132564|
| 87|      Dustin Allen| 34|  Male|        IT|  8629|  2015-01-08|             NULL|         9|Inactive|    Chicago|Morning|          129|              1113141|
|757|       James James| 38|  Male|     Sales|  9666|  2016-04-14|             NULL|        15|  Active|Los Angeles|Morning|          114|              1101924|
|422|       Dylan Dixon| 19|Female|        IT|  8798|  2015-06-07|              5.0|        15|  Active|Los Angeles|Evening|          124|              1090952|
|938|     Gary Mitchell| 52|Female|     Sales|  9963|  2016-09-22|              5.0|        20|Inactive|Los Angeles|Morning|          109|              1085967|
|797|     Jacob Shannon| 35| Other|     Sales|  9926|  2016-09-04|             NULL|         7|  Active|    Chicago|  Night|          109|              1081934|
|372|   Allison Carroll| 21|Female|        IT|  9474|  2016-05-24|              4.0|         4|Inactive|    Chicago|Evening|          113|              1070562|
| 30|     Rachel Ramsey| 22|  Male|     Sales|  9661|  2016-08-18|              2.0|        17|Inactive|    Chicago|  Night|          110|              1062710|
|579|    Dawn Fuller MD| 18| Other|        HR|  8824|  2015-11-03|              5.0|        11|Inactive|   New York|Morning|          119|              1050056|
|178|    David Buchanan| 52|  Male|     Sales|  8899|  2016-01-12|             NULL|        17|  Active|    Chicago|Evening|          117|              1041183|
|640|   Carlos Mcmillan| 24| Other|        IT|  8973|  2016-03-18|             NULL|         4|Inactive|Los Angeles|Morning|          115|              1031895|
+---+------------------+---+------+----------+------+------------+-----------------+----------+--------+-----------+-------+-------------+---------------------+
only showing top 20 rows